<div class="limiter">
  <div
    class="container-login100"
    style="background-image: url('../../../../assets/images/bg-01.jpg')"
  >
    <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
      <div class="login100-form">
        <h1 class="login100-form-title p-b-49">Dashboard</h1>
        <div class="text-right p-t-8 p-b-31"></div>
        <div class="wrap-input100 m-b-23">
          <p>Esta pagina solo funciona si estas autenticado</p>

          <h4>User Info</h4>
          <div class="text-right p-t-8 p-b-31"></div>
          <pre>{{ usuario | json }}</pre>
          <div class="text-right p-t-8 p-b-31"></div>
          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <button class="login100-form-btn" (click)="logout()">
                Logout
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
